@tailwind base;
@tailwind components;
@tailwind utilities;

/* h1{
  color:#c0c0c0;
} */

::-webkit-scrollbar {
  width: 8px;
  border-radius: 300px;
}

::-webkit-scrollbar-thumb {
  background-color: #ededed;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: #E2E8F0;
  border-radius: 40px;

}
